

<div class="container" id = "home-container">
    <div class="container-fluid text-light p-5" id="jumbo-bg">
        <div class="container p-5 text-center">
            <h1 class="display-4">Alpha Blog</h1>
            <hr>
            <!-- <p>Go to My Website</p> -->
            <a href="#" class="btn btn-success">Sign Up!</a>
        </div>
    </div>
</div>
</div>

<!-- <%= link_to 'Articles list', articles_path %> |
<%= link_to 'About', about_path %> -->
